<div class="container" style="margin-top: 4rem">
  <p>Formulario Reactivo</p>
  <form [formGroup]="personaForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Nombres</mat-label>
        <input
          matInput
          placeholder="Introducir nombres"
          formControlName="nombres"
          maxlength="10"
        />
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint
          >Máximo 10 Carácteres
          {{ personaForm.controls["nombres"].value.length }}/10</mat-hint
        >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input
          matInput
          placeholder="Introducir apellidos"
          formControlName="apellidos"
          maxlength="20"
        />
        <mat-icon matSuffix>account_box</mat-icon>
        <mat-hint
          >Máximo 20 Carácteres
          {{ personaForm.controls["apellidos"].value.length }}/20</mat-hint
        >
      </mat-form-field>
    </p>
    <mat-form-field>
      <mat-label>Correo Electrónico</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" />
      <mat-icon matSuffix>mail</mat-icon>
      @if (personaForm.controls["email"].hasError("required")) {
      <mat-error>El dato es requerido</mat-error>
      } @else if (personaForm.controls["email"].hasError("email")) {
      <mat-error>El correo es inválido</mat-error>
      }
    </mat-form-field>
    <p>
      <mat-radio-group aria-label="Genero" formControlName="genero">
        <mat-label>Genero: </mat-label>
        <mat-radio-button value="f">Femenino</mat-radio-button>
        <mat-radio-button value="m">Masculino</mat-radio-button>
      </mat-radio-group>
    </p>

    <div formGroupName="habilidades">
      <h4>Habilidades:</h4>
      <p><mat-checkbox formControlName="liderazgo">Liderazgo</mat-checkbox></p>
      <p>
        <mat-checkbox formControlName="comunicacion">Comunicación</mat-checkbox>
      </p>
      <p><mat-checkbox formControlName="empatia">Empatia</mat-checkbox></p>
    </div>

    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select formControlName="food">
        @for (food of foods; track food) {
        <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <br />
    <button type="submit" mat-flat-button [disabled]="personaForm.invalid">
      Guardar
    </button>
  </form>
</div>
